.navbar {
    background-color: #165c39 !important;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand, .nav-link {
    color: white !important;
}

.nav-link {
    font-weight: 500;
    margin-right: 10px;
}

.navbar-brand, .nav-link:hover {
    color: #00bfff !important;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: contain;
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #f8f9fa;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}

.card {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card-text {
    color: #333;
    line-height: 1.6;
    font-size: 1.1em;
}
.carousel-inner img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }

.btn-outline-success {
    color: #00bfff;
    border-color: #00bfff;
}

.btn-outline-success:hover {
    background-color: #00bfff;
    color: white;
    border-color: #00bfff;
}

footer {
    background-color: #222;
    color: #ddd;
    padding: 20px 0;
    font-size: 0.9em;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: #00bfff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1, h2, h3, p {
    font-size: 1.5rem;
    color: black;
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
}

.container p {
    font-size: 25px;
}

body {
    background-color: #faebdb !important;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8bbca4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 80px;
    text-align: center;
    min-height: 20vh;
}


#dov {
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
hr.new1 {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-top: 2px;
  }
  
  hr.new2 {
    border-top: 1px dashed rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 5px;
  }